<p class="lead">Welcome back, <%= user.nickname %>! We missed you.</p>
<p>Thanks for using Fitminder. Below you'll find the phone number where your text message reminders are sent, your Fitminder preferences, and your reminder history. We promise not to share this information with anyone else.</p>

<div class="spacer spacer-sm"></div>

<form method="post">
    <div class="form-group form-group-lg">
        <label class="control-label" for="phoneNumber">Phone Number</label>
        <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" value="<%= user.phoneNumber %>">
    </div>

    <% if (user.phoneNumber) { %>
    <% if (user.isPhoneNumberVerified) { %>
    <p id="phoneVerificationStatus" class="text-success">Your phone number has been verified.</p>
    <% } else { %>
    <p id="phoneVerificationStatus" class="text-danger">Your phone number has not yet been verified.</p>
    <% } %>
    <% } %>
    
    <div class="spacer spacer-sm"></div>
    
    <div class="form-group form-group-lg">
        <label class="control-label" for="iftttSecretKey">IFTTT Secret Key</label>
        <input class="form-control" id="iftttSecretKey" name="iftttSecretKey" value="<%= user.iftttSecretKey %>">
    </div>
    
    <% if (user.iftttSecretKey) { %>
    <p class="text-muted">Notifications are being sent to IFTTT's Maker Channel with Event Name <var>fitminder</var>, instead of your phone number. Remove your IFTTT Secret Key to disable this functionality.</p>
    <% } else { %>
    <p class="text-muted">Enter the Secret Key for your <a href="http://ifttt.com/maker" target="_blank">IFTTT Maker Channel</a> here to send notifications to IFTTT instead of your phone number.</p>
    <% } %>

    <div class="spacer spacer-sm"></div>

    <div class="form-group form-group-lg">
        <label class="control-label" for="inactivityThreshold">Remind me when I've been inactive for</label>
        <select class="form-control" id="inactivityThreshold" name="inactivityThreshold">
            <option value="2"<% if (user.inactivityThreshold == 2) { %>selected<% } %>>30 minutes</option>
            <option value="3"<% if (user.inactivityThreshold == 3) { %>selected<% } %>>45 minutes</option>
            <option value="4"<% if (user.inactivityThreshold == 4) { %>selected<% } %>>1 hour</option>
            <option value="5"<% if (user.inactivityThreshold == 5) { %>selected<% } %>>1 hour, 15 minutes</option>
            <option value="6"<% if (user.inactivityThreshold == 6) { %>selected<% } %>>1 hour, 30 minutes</option>
        </select>
    </div>

    <div class="form-group form-group-lg">
        <label class="control-label" for="startTime">Don't send me reminders before</label>
        <select class="form-control" id="startTime" name="startTime">
            <option value="7"<% if (user.startTime == 7) { %>selected<% } %>>7:00 AM</option>
            <option value="8"<% if (user.startTime == 8) { %>selected<% } %>>8:00 AM</option>
            <option value="9"<% if (user.startTime == 9) { %>selected<% } %>>9:00 AM</option>
            <option value="10"<% if (user.startTime == 10) { %>selected<% } %>>10:00 AM</option>
            <option value="11"<% if (user.startTime == 11) { %>selected<% } %>>11:00 AM</option>
        </select>
    </div>

    <div class="form-group form-group-lg">
        <label class="control-label" for="endTime">Don't send me reminders after</label>
        <select class="form-control" id="endTime" name="endTime">
            <option value="19"<% if (user.endTime == 19) { %>selected<% } %>>7:00 PM</option>
            <option value="20"<% if (user.endTime == 20) { %>selected<% } %>>8:00 PM</option>
            <option value="21"<% if (user.endTime == 21) { %>selected<% } %>>9:00 PM</option>
            <option value="22"<% if (user.endTime == 22) { %>selected<% } %>>10:00 PM</option>
            <option value="23"<% if (user.endTime == 23) { %>selected<% } %>>11:00 PM</option>
        </select>
    </div>
    
    <p class="text-muted">Your timezone is currently set to <%= user.timezone %>. You can change this on the Fitbit website.</p>

    <div class="checkbox">
        <label>
            <input type="checkbox" id="dontSendRemindersAfterGoal" name="dontSendRemindersAfterGoal"<% if (user.dontSendRemindersAfterGoal) { %>checked<% } %>> <span>Don't send me reminders after I've met my step goal</span>
        </label>
    </div>

    <div class="spacer spacer-sm"></div>

    <button type="submit" class="btn btn-default btn-lg">Save changes</button>
    <br />
</form>

<div class="spacer spacer-lg"></div>

<p>The last time we received data from Fitbit for your account was <strong><%= fromNow(new Date(user.lastSyncTime)) %></strong>. The last notification was sent to <% if (user.iftttSecretKey) { %>IFTTT<% } else { %>your phone<% } %> <strong><%= fromNow(new Date(user.lastNotificationTime)) %></strong>.</p>

<div class="spacer spacer-sm"></div>

<form action="/profile/billing" method="post">
    <% if (new Date(user.expirationDate) > add(utc(), 30, 'days')) { %>
    <p>Your Fitminder account will expire in <strong><%= fromNow(new Date(user.expirationDate)) %></strong>. We'll send you a text message when it's time to renew your membership.</p>
    <% } else if (new Date(user.expirationDate) > utc()) { %>
    <p>Your Fitminder account will expire in <strong><%= fromNow(new Date(user.expirationDate)) %></strong>. You can <a id="paymentLink" href="#">renew your membership</a> now or we'll send you a text message to remind you when this gets closer.</p>
    <% } else { %>
    <p>Your Fitminder account has expired. <a id="paymentLink" href="#">Renew your membership</a> now to start receiving reminders again.</p>
    <% } %>

    <input type="hidden" class="form-control" id="token" name="token">
</form>

<div class="spacer spacer-sm"></div>

<p>Looking to give up? You can <a class="text-danger" href="/profile/delete" onclick="return confirm('Are you sure you want to delete your account?');">delete your account</a> if you really want to.</p>

<script type="text/javascript">
    $(document).ready(function() {
        var verification = $("#phoneVerificationStatus");

        var form = $("form");
        var target = $("#phoneNumber");
        var parent = $(target).closest('.form-group');

        target.intlTelInput({
            utilsScript: "/js/jquery.intltelinput.extra.min.js"
        });

        form.submit(function() {
            if ($.trim(target.val()) == 0) {
                parent.addClass('has-error');
                parent.after("<p id=\"phoneValidationError\" class=\"text-danger\">This is a required field.</p>");

                return false;
            }
            
            $("#phoneNumber").val($("#phoneNumber").intlTelInput("getNumber"));
        });

        target.blur(function() {
            if ($.trim(target.val())) {
                if (target.intlTelInput("isValidNumber")) {
                    parent.removeClass('has-error');
                    $("#phoneValidationError").remove();
                } else {
                    parent.addClass('has-error');
                    parent.after("<p id=\"phoneValidationError\" class=\"text-danger\">This is not a valid phone number.</p>");
                }
            }
        });

        target.keydown(function() {
            verification.hide();

            parent.removeClass('has-error');
            $("#phoneValidationError").remove();
        });
        
        var handler = StripeCheckout.configure({
            key: '<%= process.env.STRIPE_PUBLISHABLE_KEY %>',
            token: function(token) {
                $('#token').val(token.id);                
                $('form').submit();
            }
        });
        
        $('#paymentLink').on('click', function(e) {
            handler.open({
                name: 'Matt McCormick',
                description: 'Fitminder - 1 Year Membership',
                amount: 1200
            });
            e.preventDefault();
        });
        
        $(window).on('popstate', function() {
            handler.close();
        });
    });
</script>
